node_modules
temp
build
dist
.DS_Store
package.ts
.oracle-state.json
.oracle-monitor-state.json
.env

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/
